// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new-job{
	display: none;
	width: 80%;
}

#new-job-button{
	width: 80%;
	margin-top: 1%;
}

.closed-jobs{
	.closed-job{
		border: solid 1px red;
		width: 80%;
		border-size: box-sizing;
		margin-top: 1%;
		padding: 0 2%;
	}
}