// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new-job{
	display: none;
	width: 80%;
}

#new-job-button{
	width: 80%;
	margin-top: 1%;
}