<li>
	<%= link_to under_contract.ship_name, boat_path(under_contract) %>
  <% if under_contract.user_id == current_user.id and under_contract.under_contract == true %>
    <%= link_to '<i class="tiny material-icons red-text">cancel</i>'.html_safe, contract_path(under_contract), method: :delete, :class => 'destroy_contract', remote: true %>
  <% end %>
</li>