<h1>Boats#index</h1>
<a class="waves-effect waves-light btn" id='boat-click' href="" onclick="$('#new-boat').toggle(); event.preventDefault()">Add New Ship to Fleet</a>
<div id="new-boat">
 	<%= render 'boats/form' %>
</div>

<div class="boats">
	<% @boats.each do |boat| %>
		<%= render boat %>
	<% end %>
</div>

