<% if !@user %>
	<a class="waves-effect waves-light btn blue-grey darken-3" id='new-boat-button' href="" onclick="$('#new-boat').toggle(); event.preventDefault()">Add New Ship to Fleet</a>	
	<div id="new-boat">
 		<%= render 'boats/form' %>
	</div>
<% end %>

<% if @user %>
	<h5><%= @user.username %>'s Boats:</h5>
	<div class="boats">
		<% @user_boats.each do |boat| %>
			<%= render boat %>
		<% end %>
	</div>
<% else %>
	<div class="boats">
		<% @boats.each do |boat| %>
			<%= render boat %>
		<% end %>
	</div>
<% end %>




